body{
    margin-left: 0px;
    background-color:#94d2bd; 
}

h2{
  margin-left:20px;
}
p{
  margin-left:20px;
}
h1{
  text-align:center;
}


#foto{
    position: relative;
    border-radius:20%;
    text-align: center;
}


  .menu{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align:center;
    
  }
  a:link {
    text-decoration:none;
    font-size: 22px;
  }
  a:hover{
      color: #0A9396;
  }

  h1{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 48px;
  }

  #foto-menu{
    
    top: 2px;
    padding: 5px;
    background-color:#94d2bd;
    border-bottom:10px ;
  }

  /* footer */

  footer{
    padding: 50px;
    
  }

  #cont-foot{
    text-align: center;
    list-style: none;

  }

  #cont-foot li{
    display: inline;
    padding: 40px;
  }

  /*portifolio*/

  #portfolio{
    text-align: center;
    list-style: none;

  }

  #portfolio li{
    display: inline;
    padding: 20px;
  }

  #desc-port{
    text-align: center;
    list-style: none;
  }
  #desc-port li{
    display: inline;
    padding: 60px;
  }

   /*portifolio-videos*/

   #port-videos{
    text-align: center;
    list-style: none;

  }

  #port-videos li{
    display: inline;
    padding: 40px;
  }

  

  
  